<p id="notice"><%= notice %></p>

<h1>Your Artists</h1>
<p>
  <%= link_to new_artist_path do %>
    <span class="glyphicon glyphicon-plus"></span> Add
  <% end %>
</p>
<div class="row">
    <% @artists.each do |artist| %>
    <div class="col-sm-6">
      <div class="well">
        <h2><%= link_to artist.name, artist %></h2>
        <% artist.rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        <%= link_to edit_artist_path(artist) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %> 
        <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<br>
